

input
  margin-bottom 20px

.form-hide
  display none
.form-show
  display block


label {
  display: block;
  width: 100%;
  line-height: 50px;
  font: 13.3333px Arial;
  margin-bottom: 30px;
}

input {
  pointer-events: auto;
  border: 0px;
  outline: 0;
  box-shadow: none;
  color: black;
  width: 100%;
  background: rgba(0,0,0,.05);
  color: #fff;
  border-bottom: 5px solid #333;
  height:50px;
  line-height:50px;
  padding: 0 15px;
  font-size: 2rem;
}
input[type="submit"] {
  position:absolute;
  right:0px;
  top:0px;
  max-width:30%;
  cursor:pointer;
}input[type="submit"]:hover {
  background: rgba(0,0,0,.2);
}



.btn
  color #333
  margin 5px 0
  height 35px
  line-height 35px
  min-width 50px
  display inline-block
  text-align center
  margin-right 25px
  padding 0 25px
  outline none
  cursor pointer
  border-width 0
  border-style none
  border-color transparent
  
  &.btn-normal
    background blue
  &.btn-success
    background #75da43
    color #fff
  &.btn-alert
    background red
  &.btn-outline
    background transparent
    border 1px solid blue